@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'lato', sans-serif;
}

body{
    background: linear-gradient(to right, #d4d3dd, #efefbb);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.cabecalho {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

h1{
    letter-spacing: 5px;
}

.procurar {
    background-image: url("https://cdn-icons-png.flaticon.com/512/622/622669.png");
    background-size: 18px;
    background-position: 10px center;
    background-repeat: no-repeat;
    padding-left: 40px; /* espaço para a lupa */
    height: 35px;
    border-radius: 8px;
    border: 2px solid #ccc;
    font-size: 16px;
    outline: none;
}

.procurar:focus {
    border-color: #888;
}

.pokeConteiner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    max-width: 1200px;
}

.pokemon {
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    margin: 10px;
    padding: 20px;
    text-align: center;
}


/* .pokemon:hover {
    transform: scale(150%);
}
 */

.imgConteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    text-align: center;
}

.imgConteiner img {
    max-width: 90%;
}

.info {
    margin-top: 10px;
}

.stats {
    margin-top: 8px;
    font-size: 8px;
    line-height: 1.2;
}

.stats p {
    margin: 2px 0;
}


.number {
    background-color: rgba(0, 0, 0, 0.15);
    padding: 2px 10px;
    border-radius: 10px;
    font-size: 0.8rem;
}

.name {
    margin: 8px 0 7px;
    letter-spacing: 1.5px;
}

/* Modal escurecido */
.pokemon-modal-bg {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    opacity: 0;
    pointer-events: none;
    transition:all .3s ease;
}

/* Quando ativar */
.pokemon-modal-bg.active {
    opacity: 1;
    pointer-events: all;
}

/* A carta grande */
.carta-container {
    position: relative;
    transform: scale(2.2);
    transition: all 0.3s ease;
    z-index: 100;
    position: absolute;
    transform-style: preserve-3d;
    

}

.carta-container.active {
    transform: scale(2.2) rotateY(180deg);
    transition: all 0.3s ease;
    z-index: 100;
    position: absolute;
    
}

.modal-frente {
    position: absolute;
    backface-visibility: hidden;
}

.modal-verso {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 2px;
    background-color: skyblue;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    margin: 10px;
    padding: 2px;
    text-align: center;

    
}

    
.area1 {
    width: 100%;
    height: 100%;
    overflow: hidden;      /* impede que a imagem vaze */
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 4 / span 4;
    grid-row: span 2 / span 2;
}

.img-oficial {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;   /* mantém proporção */
    display: block;
}

.area2 {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-row-start: 3;

    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    backface-visibility: visible;
    
    overflow: hidden;   /* impede ultrapassar */
    gap: 6px;
    transform: rotateY(180deg);
}

.evo-wrapper {
    transform-origin: top center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.evo-div {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform-origin: top center;
}

.seta-evo {
    width: 0;
    height: 24px;
    border-left: 2px solid #333;
    margin: 4px 0;
    position: relative;
}

.seta-evo::after {
    content: "";
    position: absolute;
    left: -5px;
    bottom: -2px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #333;
}


.area2 .evo-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    font-size: 12px;

}

.area2 .evo-item img {
    width: 55px;
    height: 55px;
    object-fit: contain;
}

.area3 {
    
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;

    box-sizing: border-box;
    overflow: hidden;
    gap: 4px;
    
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-column-start: 3;
    grid-row-start: 3;
    transform: rotateY(180deg);
}

.fraqueza-vantagem {
    margin-top: 10px;
    text-align: left;
}

.fraqueza-vantagem h3 {
    margin: 5px 0;
    font-size: 14px;
}

.icon-row {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-bottom: 10px;
}

.type-icon {
    width: 2px;
    height: 2px;
}

.span-icon {
    display: none;
    font-size: 0.4rem;
    margin-top: 2px;
}

.titulosFraqVant {
    font-size: 0.5rem;
    margin-bottom: 1px;
    text-align: left;
}

.titulo_stats {
    color: red;
    font-size: 0.7rem;
}

.stats-poke {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1px;
    font-size: 0.4rem;
}

/* .porcentagem {
    color: red;
} */
        
.virar {
    cursor: pointer;
}

.stats {
    margin-top: 8px;
    font-size: 12px;
}

.stat-row {
    display: flex;
    align-items: center;
    gap: 6px;
    margin: 4px 0;
}

.stat-row span {
    width: 28px;
    font-weight: bold;
    font-size: 11px;
}

.stat-row .value {
    width: 30px;
    text-align: right;
    font-weight: bold;
}

.bar {
    flex: 1;
    height: 6px;
    background: rgba(0,0,0,0.15);
    border-radius: 3px;
    overflow: hidden;
}

.bar div {
    height: 100%;
    background: rgba(0,0,0,0.4);
    border-radius: 3px;
    transition: width .3s;
}

